@{
    ViewBag.Title = "Все пользователи"; 
}
<table class="table">
    <tr>
        <td>
        </td>
        <td>
            Имя
        </td>
        <td>
            Эл. почта
        </td>     
        <td>
            Дата последнего визита
        </td>  
    </tr>
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @Html.ActionLink("Удалить", "DeleteUser", new { userName = @item.UserName })
            </td>
            <td>
                @item.UserName
            </td>     
            <td>
                @item.Email
            </td>
            <td>
                @item.LastActivityDate.ToString("MM/dd/yyyy")
            </td>             
        </tr>
    }
</table>
